<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- Include Tailwind CSS via CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-pzjw4NxyA7ADLlZ0f/DS83I5O7jsDePsC3nmQJw4rISwMx6fe7T9CjQyC9dFO2F21"
      crossorigin="anonymous"
    />

    <title>Course List</title>
    <style>
      body {
        margin-top: 50px;
        font-family: "Arial", sans-serif;
        background-color: #f7fafc;
        color: #48432d;
      }

      .moving-line-container {
        overflow: hidden;
        white-space: nowrap;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #896223;
        padding: 10px;
        margin-bottom: 20px;
      }

      .moving-line {
        display: inline-block;
        color: #ffffff;
        animation: moveLine 10s linear infinite;
      }

      @keyframes moveLine {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(-100%);
        }
      }

      .navbar {
        background-color: #d1cb56;
        color: #ffffff;
      }

      .navbar-logo img {
        max-height: 40px;
      }

      .navbar a {
        color: #ffffff;
      }

      .navbar input {
        background-color: #ffffff;
        color: #2d3748;
      }

      .enroll-link {
        background-color: #3490dc;
        color: #ffffff;
      }

      .enroll-link:hover {
        background-color: #e3f056;
      }

      .visit-link {
        background-color: #e1eb4e;
        color: #ffffff;
      }

      .visit-link:hover {
        background-color: #f6e86b;
      }
    </style>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.querySelector("[data-search]");
        const packs = document.querySelectorAll("[data-pack]");

        searchInput.addEventListener("input", (e) => {
          const value = e.target.value.toLowerCase();
          packs.forEach((pack) => {
            const isVisible = pack.textContent.toLowerCase().includes(value);
            pack.style.display = isVisible ? "block" : "none";
          });
        });
      });
    </script>
  </head>

  <body>
    <div class="moving-line-container text-lg">
      <div class="moving-line r">
        Welcome, <%- a.firstName %> Let's Begin To Learn Something Which Is
        Useful To Live
      </div>
    </div>
    <div class="navbar bg-gray-900 text-white p-4 mb-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
          <div class="navbar-logo">
            <img
              src="https://i0.wp.com/www.easygenerator.com/wp-content/uploads/2021/03/01-a-browser-with-the-word-%E2%80%9CLMS%E2%80%9D.jpg?resize=1500%2C840&ssl=1"
              alt="Logo"
              class="max-h-10"
            />
          </div>
          <div class="relative flex items-center">
            <i class="fas fa-search text-gray-700 mr-2"></i>
            <input
              type="search"
              placeholder="Search"
              class="w-96 pl-10 pr-4 py-2 rounded-full bg-white text-gray-700 focus:outline-none border border-green-600 shadow-2xl transition-transform duration-300 transform scale-100 hover:scale-105"
              data-search
            />
          </div>
        </div>
        <div class="flex space-x-8">
          <a href="#" class="text-white">Home</a>
          <a href="/about" class="text-white">About</a>
          <a href="/contact" class="text-white">Contact</a>
          <a href="/mycoursestudent/<%= b %>" class="text-white">MyCourse</a>
        </div>
      </div>
    </div>
    <div class="relative p-4"></div>
    <div class="min-h-screen bg-gray-100 p-8">
      <div class="flex space-x-4 absolute top-40 right-4">
        <a
          href="/signout"
          class="bg-gray-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105"
        >
          Sign Out
        </a>
        <a
          href="/change"
          class="bg-gray-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105"
        >
          Change Password
        </a>
      </div>

      <div class="max-w-screen-xl mx-auto">
        <div class="m-4 p-4 text-black-700 text-left">
          <%- include("notifications.ejs") %>
          <p class="text-4xl font-extrabold text-black-700">
            Welcome <%- a.firstName %> as a Student. Let's start your learning
            Journey!
          </p>
        </div>

        <div class="text-center mt-4">
          <a
            href="/mycoursestudent/<%= a.id %>"
            class="block bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-red-800 transition duration-300 ease-in-out"
            >My Course</a
          >
        </div>

        <br />
        <hr class="h-1 bg-gray-800 shadow-xl my-8" />

        <div class="mt-8">
          <p class="text-center text-red-700 text-1xl">
            Note: This Are Courses You Are Not Yet Enrolled.Enrolled Courses
            Will Be In MyCourse Section....
          </p>
          <div class="text-3xl font-bold mb-4 text-center text-indigo-700">
            List Of Available Courses
          </div>
        </div>
        <div class="flex flex-grow flex-wrap -mx-4">
          <% for (let pack of notesForFilterPacks) { %>
          <div class="w-full md:w-1/2 lg:w-1/3 p-4" data-pack>
            <div
              class="p-6 bg-red-300 text-gray-800 rounded-lg shadow-md hover:bg-indigo-300 transition duration-300 ease-in-out transform hover:scale-105"
            >
              <div class="flex items-center justify-between">
                <div class="text-xl font-bold mb-2"><%= pack.heading %></div>
                <div class="flex space-x-2">
                  <a
                    href="/enroll/<%= pack.id %>"
                    class="enroll-link bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-blue-800 transition duration-300 ease-in-out"
                    >Enroll Now</a
                  >
                  <a
                    href="/viewcourses/<%= pack.id %>"
                    class="enroll-link bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-blue-800 transition duration-300 ease-in-out"
                    >Visit Course</a
                  >
                </div>
              </div>

              <ul>
                <% for (let users of userss ) { %> <% if (users.id==pack.userId)
                { %>
                <h1 class="text-xl font-semibold mb-2">
                  Author: <%= users.firstName %> <%= users.lastName %>
                </h1>
                <% } %> <% } %>
              </ul>

              <% let i=0; for (let enroll of enrolls) { %> <% if
              (pack.id==enroll.courseId) { i++ %> <% } %> <% } %>

              <h1 class="text-xl font-semibold mb-2">
                <i class="fas fa-user-graduate"></i>
                Enrolled Students: <%= i %>
              </h1>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
