<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/2.2.15/dist/tailwind.min.css"
    />
    <script
      src="https://cdn.tiny.cloud/1/9kwxhtdpt52mljpaqcgskiyid3b6ujzi3f7vag11uhlwne7c/tinymce/6/plugins.min.js"
      referrerpolicy="origin"
    ></script>
    <title>Chapter Creating Page</title>
    <style>
      @keyframes floating {
        0%,
        100% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(-15px);
        }
      }

      .floating-box {
        animation: floating 1s infinite;
      }
    </style>
  </head>

  <body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="absolute top-6 left-6 space-x-4">
      <a href="/show" class="p-4 text-gray-800 bg-white rounded shadow-md"
        >Home<span class="ml-2 text-green-500">&#8594;</span></a
      >
      <a href="/course" class="p-4 text-gray-800 bg-white rounded shadow-md"
        ><%=notee.heading %><span class="ml-2 text-green-500">&#8594;</span></a
      >
      <a href="/chapter" class="p-4 text-gray-800 bg-white rounded shadow-md"
        >Create More Chapter<span class="ml-2 text-green-500">&#8594;</span></a
      >
    </div>
    <div class="absolute top-25 left-1 space-x-4 bg-red-300 p-4 floating-box">
      <p>
        <span class="font-bold text-purple-500 italic">N.B: 1.</span> IGNORE THE
        API KEY ERROR IF OCCUR AND PROCEED
      </p>
      <p>
        <span class="font-bold text-purple-500 italic">N.B: 2.</span> IF YOU
        CANNOT SEE THE SELECTED CHAPTER IN
      </p>
      <p>
        <span class="font-bold text-pruple-500 italic"> </span> SELECTED CHAPTER
        SECTION, PLEASE REFRESH THE PAGE
      </p>
    </div>
    <div class="bg-white p-8 rounded shadow-md w-full max-w-lg">
      <h1 class="text-2xl font-bold text-center mb-6">Enter Chapter Name</h1>
      <form action="/page" method="post" class="space-y-4">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="flex flex-col">
          <label for="heading" class="text-gray-700 text-sm font-semibold mb-2">
            You entered this course:</label
          >
          <input
            type="text"
            id="heading"
            name="heading"
            value="<%=notee.heading %>"
            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:border-purple-600"
            placeholder="Enter the course name"
            required
          />
        </div>
        <div class="flex flex-col">
          <label
            for="chapterId"
            class="text-gray-700 text-sm font-semibold mb-2"
            >Select Chapter:</label
          >
          <select
            name="chapterId"
            id="notes"
            class="border rounded-lg p-3 focus:ring-2 focus:ring-purple-600 focus:outline-none"
          >
            <% for (let chapter of chapters) { %>
            <option value="<%=chapter.id %>"><%=chapter.title %></option>
            <% } %>
          </select>
        </div>
        <div class="flex flex-col">
          <label
            for="description-text"
            class="text-gray-700 text-sm font-semibold mb-2"
            >Chapter Description</label
          >
          <textarea
            id="description-text"
            name="word"
            class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:border-purple-600"
            rows="6"
            placeholder="Enter your description here"
          ></textarea>
        </div>
        <div class="text-center mt-4">
          <button
            type="submit"
            class="bg-purple-600 hover:bg-purple-700 text-white font-semibold py-3 px-6 rounded-full focus:outline-none"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <script>
      tinymce.init({
        selector: "textarea",
        plugins: "link image",
        toolbar: "bold italic underline | link image",
      });
    </script>
  </body>
</html>
