<!DOCTYPE html>
<html>
  <head>
    <title>Progress</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="csrf-token" content="<%= csrfToken %>" />
  </head>

  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white p-8 rounded shadow-lg">
      <h1 class="text-2xl font-semibold mb-4" style="color: red">
        Course Progress
      </h1>
      <table class="w-full">
        <thead>
          <tr>
            <th class="px-4 py-2" style="color: purple">Number</th>
            <th class="px-4 py-2" style="color: purple">Student ID</th>
            <th class="px-4 py-2" style="color: purple">Name</th>
            <th class="px-4 py-2" style="color: purple">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% enrolls.forEach((enroll, index)=> { %>
          <tr>
            <td class="px-4 py-2"><%= index + 1 %></td>
            <td class="px-4 py-2"><%= enroll.studentId %></td>
            <% for (let user of users) { %> <% if (user.id==enroll.studentId) {
            %>
            <td class="px-4 py-2">
              <%= user.firstName %> <%= user.lastName %>
            </td>
            <% } %> <% } %>
            <td class="px-4 py-2">
              <a
                href="/student/<%= enroll.studentId %>/<%= packId %>"
                class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full inline-block"
                >View Progress</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
