<!DOCTYPE html>
<html>
  <head>
    <title>View Courses</title>
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
    />
  </head>

  <body class="p-6">
    <h1 class="text-3xl mb-6">Chapters for Pack ID: <%= packId %></h1>

    <div class="mb-6">
      <a href="/enroll/<%= packId %>" class="block mb-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Enroll
        </button>
      </a>
    </div>

    <table class="w-full table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Chapter Name</th>
          <th class="px-4 py-2">Chapter Description</th>
          <th class="px-4 py-2">status</th>
        </tr>
      </thead>
      <tbody>
        <% chapters.forEach((chapter)=> { %>
        <tr>
          <td class="border px-4 py-2"><%= chapter.title %></td>
          <td class="border px-4 py-2"><%= chapter.description %></td>
          <td class="border px-4 py-2">Locked</td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
